@use "../../design-system/colors/colors";

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(#313036, #000);
  backdrop-filter: blur(12px);
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 140px;
  z-index: 2;

  .menu-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-bottom: 100px;

    .menu-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
}

.menu-footer {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  height: 70px;
  background: colors.$neutral-300;
  opacity: 0.7;

  .menu-button-see-more {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .dots {
    width: 10px;
    height: 10px;
    background: url("../../../public/assets/images/dots.png") no-repeat;
    background-size: 100%;
  }
}
