.default-transition-enter {
  opacity: 0;
}
.default-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.default-transition-exit {
  opacity: 1;
}
.default-transition-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
