.button {
  cursor: pointer;
  width: 119px;
  height: 52px;
  border: none;
  border-radius: 4px;
}

.primary {
  background: #FFD900;
}

.button-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #363842;
}


