@use '../../colors/colors';

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-container, .carousel-container-overlay {
    background-size: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    .carousel-container-overlay {
        height: 100%;
        background: radial-gradient(105.1% 122.1% at 48.6% 68.14%, rgba(2, 2, 3, 0) 15%, #020203 83.1%);
    }

    .carousel-content {
        position: relative;
        width: 80%;
        margin: auto;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .carousel-menu {
            width: 12%;
            .carousel-menu-item {
                cursor: pointer;
                width: 50px;
                height: 50px;
                margin: 10px 0;
                background-size: 100%;
                mix-blend-mode: luminosity;
                transition: .4s;

                &.carousel-item-selected {
                    mix-blend-mode: normal;
                }
            }
        }
        .carousel-item-details {
            width: 88%;
            .item-title {
                font-size: 56px;
                font-weight: 700;
                line-height: 110.2%;
            }
            .item-description {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.005em;
            }
        }
        .carousel-bar {
            flex-grow: 1;
            height: 3px;
        }

        .selected {
            background: colors.$primary-default;
        }
    }

}



